parameters:
    tmpDir: ./cache/.phpstan.result.cache
    level: 10
    paths:
        - src
        - tests
    phpVersion: 80300 # Lowest currently supported version
    treatPhpDocTypesAsCertain: false
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
    ignoreErrors:
        - identifier: offsetAccess.notFound
        - identifier: property.uninitializedReadonly          # Used in several objects to cache parsed/decoded data
        - identifier: property.readOnlyAssignNotInConstructor # Used in several objects to cache parsed/decoded data
    exceptions:
        implicitThrows: false
        reportUncheckedExceptionDeadCatch: true
        uncheckedExceptionRegexes:
            - '#^PHPUnit\\#'
        uncheckedExceptionClasses:
            - 'PrinsFrank\PdfParser\Exception\PdfParserException'
            - 'PrinsFrank\PdfParser\Exception\InvalidArgumentException'
            - 'PrinsFrank\PdfParser\Exception\ParseFailureException'
            - 'PrinsFrank\PdfParser\Exception\RuntimeException'
            - 'DivisionByZeroError'
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
